<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.moku.davide.sideproject" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".myFriends.FriendsListActivity"
            android:label="@string/my_friends" />
        <activity
            android:name=".profile.ProfileActivity"
            android:label="@string/profile" />
        <activity
            android:name=".profile.UserInformationActivity"
            android:label="@string/info" />
        <activity android:name=".utils.activity.BasicActivity" />
        <activity android:name=".utils.activity.BasicSecondaryActivity" />
        <activity android:name=".profile.DisplayUserPhotoActivity" />
        <activity
            android:name=".kotlin.KotlinTestActivity"
            android:label="@string/kotlin" />
        <activity android:name=".programmingLanguages.ProgrammingLanguagesActivity" >
        </activity>
        <activity android:name=".utils.assets.DisplayFullPhotoActivity" >
        </activity>
    </application>

</manifest>